// LAYER - 1. Main grid background - 14 columns

.grid {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
        
    display: grid;
    //grid-template-columns:1fr repeat(12, ~"min(1600px/14,100%/12)") 1fr;
    grid-template-columns: repeat(14, 1fr);
    
    width: 100%;
    max-width: 1600px;
    height: 100vh;

    border-left: 1px solid #000;    

    .grid-col {
        height: 100vh;
        box-sizing: border-box;
        border-right: 1px solid #000;

        &:nth-child(odd) {
            border-right: 1px solid rgba(0, 0, 0, 0.3);
        }
    }
}

// LAYER - 2. Container gradient

.grid-grad {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;

    display: grid;
    //grid-template-columns:1fr repeat(12, ~"min(1600px/14,100%/12)") 1fr;
    grid-template-columns: repeat(14, 1fr);

    width: 100%;
    max-width: 1600px;

    //padding-top: 98px;    
    
    .grad {
        box-sizing: border-box;
        height: 100vh;
        background: 
            linear-gradient(to bottom, rgba(255, 255, 255, 0.14) 0%, rgba(255, 255, 255, 0) 620px), 
            radial-gradient(circle at top left, rgba(255, 255, 255, 0.14), transparent 20%);
        grid-column-start: 2;
        grid-column-end: 14;
    }
}

// LAYER - 3. Page layout

.grid-layout {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);        
    z-index: 3;

    width: 100%;
    max-width: 1600px;

    display: grid;
    //grid-template-columns:1fr repeat(12, ~"min(1600px/14,100%/12)") 1fr;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(6, auto);

    header {
        grid-column-start: 2;
        grid-column-end: 14;
        grid-row: 1;
        background: @main-bg;
        padding: 1.5em 0;
        border-bottom: 1px solid;
        border-image-slice: 1;
        border-width: 1px;
        border-image-source: linear-gradient(to right, @secondary-color, @primary-color);

        // Postion Logo and Switch left | right
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;

        .switch-container {
            display: flex;
            justify-content: center;
            align-items: center; 
        }
    }

    .name {
        grid-column-start: 3;
        grid-column-end: 8;
        grid-row: 2;
        //background-color: rgba(255, 255, 0, 0.3);

        h1 {
            .fluid-type (font-size, 600px, 1600px, 24px, 80px);
            position: relative;
            white-space: nowrap;

            span {
                .fluid-type (font-size, 600px, 1600px, 10px, 20px);
                position: absolute;
                bottom: -15px;
                right: 0;
            }
        }
    }

    .fold {
        grid-column-start: 13;
        grid-column-end: 14;
        grid-row: 2;
        //background-color: rgba(255, 255, 0, 0.3);
    }

// Content block 1. Title + social links

    .title-1 {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row: 3;
        //background-color: rgba(255, 0, 0, 0.3);
    }

    .content-1 {
        grid-column-start: 6;
        grid-column-end: 13;
        grid-row: 3;
        //background-color: rgba(100, 100, 100, 0.3);
    }

// Content block 2. Title + Bio x2 blocks    

    .title-2 {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row: 4;
        //background-color: rgba(255, 0, 0, 0.3);
    }

    .content-2 {
        grid-column-start: 6;
        grid-column-end: 9;
        grid-row: 4;
        //background-color: rgba(0, 33, 255, 0.3);
    }

    .content-3 {
        grid-column-start: 10;
        grid-column-end: 13;
        grid-row: 4;
        //background-color: rgba(0, 33, 255, 0.3);
    }

// Content block 3. Title + Location        

    .title-3 {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row: 5;
        //background-color: rgba(255, 0, 0, 0.3);

    }

    .content-4 {
        grid-column-start: 6;
        grid-column-end: 14;
        grid-row: 5;
        //background-color: rgba(100, 100, 0, 0.3);

    }

// Footer    

    footer {
        grid-column-start: 2;
        grid-column-end: 14;
        grid-row: 6;

        p {
            float: right;
        }

        //background-color: rgba(0, 250, 100, 0.3);
    }
}

.top-margin {
    margin-top: @top-margin;
}