html {
    width: 100vw;
}

body {
    background-color: @main-bg;
    width: 100%;
    height: 100hv;
}

* {
    font-family: @secondary-font;
}

h1 {
    font-family: @primary-font;
    color: @secondary-color;
    font-weight: 800;
    font-size: 4vw;

    span {
        font-weight: 300;
        font-size: 1vw;
        font-style: italic;
    }
}

h2 {
    font-family: @primary-font;
    color: @secondary-color;
    font-weight: 800;
    font-size: 1.4vw;
}

p {
    color: @secondary-color;
    font: @secondary-font;
}

footer {
    background-color: @dark-blue;
}