@primary: #00b5f0;
@white: #ffffff;

@main-bg: #001822;

@secondary-font: 'Rubik', sans-serif;

* {
    font-family: @secondary-font;
}

html {
    background-color: @main-bg;

    p {
        color: @white;
    }
}